* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 50px;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

body {
  font-size: 0.28rem;
}

a {
  color: #222;
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}